CLIENT_URL=http://localhost:5173
PORT=8000

#Database Configuration
DB_HOST=courtfind-courtfinddb.i.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=AVNS_ro2AEsH9cw3WQDacPSc
DB_NAME=defaultdb
DB_PORT=11090
DATABASE_URL=mysql://avnadmin:AVNS_ro2AEsH9cw3WQDacPSc@courtfind-courtfinddb.i.aivencloud.com:11090/defaultdb?ssl-mode=REQUIRED

# Email Configuration
EMAIL_USER=courtfindbookings@gmail.com
EMAIL_PASS=dvff yqgz qrtw fodu

# JWT and Other Secrets
JWT_SECRET=secretkey
GEMINI_API_KEY=AIzaSyCGAI7zrptHXPAsAVci976B-rUpTq-FCmo
ADMIN_PORTAL_PWD=adminpwd
CLOUDINARY_CLOUD_NAME=di5pofla2
CLOUDINARY_API_KEY=436257293343653
CLOUDINARY_API_SECRET=AiDXhY2vBgX7ji0RJUYX_IgtEio
NODE_ENV=production

# PayHere Configuration
PAYHERE_MERCHANT_ID=1230681
PAYHERE_MERCHANT_SECRET=ODMxNjA4NTAzMjMzNzU3ODU5MjEwMDE2NjI4MDQxNzE3MTc4MjEz
PAYHERE_SANDBOX=true